@using Clover.Data
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover.Ui

<root>
	<h1>debug stuff</h1>
	<section>
		<h2>Items</h2>
		@foreach ( var item in ResourceLibrary.GetAll<ItemData>().OrderBy( x => x.Name ) )
		{
			<button @onclick=@( () => SpawnItem( item ) )>
				<img src=@item.GetIcon() />
				<span>@item.Name</span>
			</button>
		}
	</section>

</root>
