@using Clover.Data
@using Clover.Player
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover.Ui

@if ( !IsVisible )
{
	return;
}

<root>
	<div class="debug-window">
		<h1>debug stuff</h1>
		<div class="lists">
			<section>
				<h2>Items</h2>
				@foreach ( var item in ResourceLibrary.GetAll<ItemData>().Where( x => !x.HideInSpawnMenu ).OrderBy( x => x.Name ) )
				{
					<button @onclick=@( () => SpawnItem( item ) )>
						<img src=@item.GetIcon()/>
						<span>@( item.Name ?? item.ResourceName )</span>
					</button>
				}
			</section>
			<section>
				<h2>Objects</h2>
				@foreach ( var obj in ResourceLibrary.GetAll<ObjectData>().OrderBy( x => x.Name ) )
				{
					<button @onclick=@( () => SpawnObject( obj ) )>
						<span>@( obj.Name ?? obj.ResourceName )</span>
					</button>
				}
			</section>
			<section>
				<h2>Lobbies</h2>
				<LobbyBrowser/>
			</section>
			<section>
				<h2>Clovers</h2>	
				<button @onclick=@( () => PlayerCharacter.Local.CloverBalanceController.AddClover(10, "Debug add") )>
                	<span>Add 10 clovers</span>
                </button>
				<button @onclick=@( () => PlayerCharacter.Local.CloverBalanceController.DeductClover(10, "Debug deduct") )>
					<span>Deduct 10 clovers</span>
                </button>
			</section>
		</div>
	</div>

</root>
