DebugWindow {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
    padding: 20px;
    color: white;
	
	pointer-events: all;

    flex-direction: column;
    gap: 10px;

    h1 {
        font-size: 30px;
        font-weight: bold;
    }
	
	section {
		flex-direction: column;
		gap: 10px;
	}
	
	button {
		background-color: rgba(0, 0, 0, 0.6);
		color: white;
		padding: 10px;
		cursor: pointer;
		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}
		gap: 10px;
		align-items: center;
		align-content: center;
		img {
			width: 30px;
			height: 30px;
		}
	}
}