@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover

<root>
	<div class="dialogue-window" @onclick=@OnClick>
		<div class="name">
			@Name
		</div>
		<div class="text">
			@if ( CurrentNode != null )
			{
				@Text
			}
			else
			{
				@($"[ERROR: CurrentNode {CurrentNodeIndex} is null on dialogue {Dialogue}]")
			}
		</div>
		@if ( CurrentNode != null && CurrentNode.Choices.Count > 0 )
		{
			<div class="choices">
				@foreach ( var button in CurrentNode.Choices )
				{
					<button @onclick=@( ( PanelEvent e ) => { OnChoice( button ); e.StopPropagation(); } )>
						@button.Label
					</button>
				}
			</div>
		}
	</div>
</root>
