@using Clover.Components
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Clover.Ui

<root>
	@if ( Tool != null )
	{
		<img src=@Tool.ItemData.GetIcon() />
		<div class="durability-bar">
			<div class="durability-bar-fill" style="width: @( $"{Tool.Durability}%" )">
				<div class="durability-bar-text">@Tool.Durability</div>
			</div>
		</div>
	}
	else
	{
		@Slot
	}
</root>
