@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Clover.Ui

<root>
	@if ( Slot != null )
	{
		<img class="icon" src=@Slot.GetIcon()/>
		<div class="name">@Slot.GetName()</div>
	}
</root>
