@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover.Ui

<root>
	<div class="modal-background"></div>
	<div class="inventory-window">
		<div class="inventory-slots" @ref="SlotContainer"></div>
	</div>
</root>
