MainUi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .is-saving {
        position: absolute;
        top: 50px;
        right: 50px;
        color: #2b79f1;
        font-size: 80px;
        text-stroke: 10px white;

        animation: saving 1s infinite ease;
        transition: opacity 0.2s;

        opacity: 0;

        &.saving {
            opacity: 1;
        }
    }

    .status {
        position: absolute;
        bottom: 50px;
        left: 50px;
        color: white;
        font-family: Itim;
        font-size: 50px;
        // text-stroke: 5px gray;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

        align-content: center;
        align-items: center;

        gap: 10px;

        transform: translateY(200%);
        transition: transform 0.5s ease;

        &.active {
            transform: translateY(0%);
        }

        .weather Image {
            width: 80px;
            height: 80px;
            image-rendering: trilinear;
        }
    }

    .inputs {
        position: absolute;
        left: 50px;
        bottom: 150px;

        gap: 5px;
        flex-direction: column;

        font-family: Itim;
        font-size: 35px;

        color: white;

        min-width: 600px;

        transform: translateX(-200%);
        transition: transform 0.5s ease;

        &.active {
            transform: translateX(0%);
        }

        .input-group {
            font-size: 28px;
            color: yellow;
        }

        .input-entry {
            // background-color: rgba(0, 0, 0, 0.2);

            gap: 10px;

            align-content: center;
            align-items: center;

            flex-grow: 1;

            opacity: 1;

            transition: opacity 0.2s;

            background-image: linear-gradient(0deg, rgba(0, 40, 80, 0.9), rgba(0, 0, 0, 0.1));

            border-radius: 100% 0 0 100%;

            padding: 5px 10px;

            &:intro {
                opacity: 0;
            }

            &.outro {
                opacity: 0;
            }

            image-rendering: trilinear;

            .input-glyphs {
                gap: 5px;
            }

            .input-name {

            }

            Image, img {
                image-rendering: trilinear;
                width: auto;
                height: auto;

                // max-width: 40px;
                // max-height: 40px;

                min-height: 40px;
                min-width: 40px;

                // backdrop-filter: blur(5px);
                // filter-blur: 0.75px;
                // background-position: initial;
                // background-size: initial;
                // background-repeat: repeat;
                // background-position: center;
                // background-size: contain;
                // background-size: 100%;
                // background-repeat: no-repeat;
            }

            .input-name {
                flex-grow: 1;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            }
        }
    }

}

.cutscene-bars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    flex-direction: column;

    justify-content: space-between;
    align-content: space-between;


    .bar {
        width: 100%;
        height: 0%;
        background-color: black;
        transition: height 0.5s;
    }

    &.active {
        .bar {
            height: 15%;
        }
    }

}

.hide-and-seek-blind {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;

    align-items: center;
    justify-content: center;

    color: white;

    font-family: Itim;
    font-size: 80px;

    flex-direction: column;

    gap: 60px;

    .sub {
        gap: 50px;
        font-size: 60px;
        align-items: center;
    }

}

.hide-and-seek {
    position: absolute;
    top: 50px;
    right: 50px;
    font-family: Itim;
    font-size: 60px;
    color: white;

    flex-direction: column;
    gap: 20px;
    align-items: flex-end;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    .time {
        font-size: 50px;
        align-items: center;
        gap: 15px;
    }
}

@keyframes saving {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}