@using Clover.WorldBuilder
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover

<root>
	<div class="is-saving" @ref="IsSavingPanel">
		<i class="icon">save</i>
	</div>
	<div class="date">
		@TimeManager.Instance.Time.ToString("HH:mm")
	</div>
</root>
