@using Clover.Carriable
@using Clover.Components
@using Clover.Player
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover.Ui
@attribute [StyleSheet]

@if ( !PlayerCharacter.Local.IsValid() || !PlayerCharacter.Local.Equips.HasEquippedItem<Paintbrush>( Equips.EquipSlot.Tool ) )
{
	return;
}

<root>
	<div class="paintbrush-bar">
		@foreach ( var decal in Decals )
		{
			<Image Texture=@decal.Decal.Texture class="@( Paintbrush.CurrentTexturePath == decal.ResourcePath ? "selected" : "" )"/>
		}
	</div>
</root>
