@using Clover.Carriable
@using Clover.Components
@using Clover.Player
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover.Ui
@attribute [StyleSheet]

@if ( !PlayerCharacter.Local.IsValid() || !PlayerCharacter.Local.Equips.HasEquippedItem<Paintbrush>( Equips.EquipSlot.Tool ) )
{
	return;
}

<root>
	<div class="paintbrush-bar">
		<h2>
			Decals
		</h2>
		<div class="paintbrush-decals">
			@foreach ( var decal in Decals )
			{
				<button class="@( Paintbrush.CurrentTextureName == decal.FileName ? "selected" : "" )" @onclick=@( () => { Paintbrush.CurrentTextureName = decal.FileName; } )>
					<Image Texture=@decal.Decal.Texture/>
					<div>@decal.FileName</div>
				</button>
			}
		</div>
	</div>
</root>
