PaintUi {
    pointer-events: all;

    padding: 40px;

    .paint-window {

        /*position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;*/
        // box-shadow: 0 0 80px black;

        font-family: Itim;
        font-size: 20px;

        background-color: silver;
        gap: 10px;
        padding: 5px;

        border: 1px solid #444;
        border-top-color: #eee;
        border-left-color: #eee;
    }

    .hsplit {
        flex-direction: row;
        gap: 10px;
    }

    .vsplit {
        flex-direction: column;
        gap: 10px;
    }

    .header {
        flex-direction: row;
        flex-shrink: 0;
        gap: 10px;
        background-image: linear-gradient(to right, navy, #1084d0);
        color: white;
        padding: 5px;

        h1 {
            flex-grow: 1;
            padding: 0 5px;
            align-items: center;
            font-family: Itim;
            font-size: 40px;
        }

        button {
            aspect-ratio: 1;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            background-color: #bbb;
            border: 1px solid #777;
            border-top-color: #eee;
            border-left-color: #eee;
            color: black;
            // padding: 5px;

            &:hover {
                background-color: #aaa;
                cursor: pointer;
            }
        }
    }

    .main {
        flex-direction: column;
        gap: 10px;
    }

    .paint-button {
        font-family: Itim;
        font-size: 25px;
        padding: 5px;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: silver;

        border: 2px solid #777;
        border-top-color: #eee;
        border-left-color: #eee;
        border-radius: 2px;

        &:hover {
            background-color: #ccc;
            cursor: pointer;
            sound-in: "sounds/ui/button_hover.sound";
        }

        &:active {
            background-color: #bbb;
            sound-in: "sounds/ui/button_down.sound";
            sound-out: "sounds/ui/button_up.sound";
        }

        &.small {
            font-size: 16px;
            padding: 2px;
        }

        &.active {
            background-color: #b6cbef;
        }
    }

    .paint-input {
        font-family: Roboto;
        font-size: 20px;
        // padding: 5px;
        background-color: #eee;
        border: 1px solid #555;
        border-bottom-color: #eee;
        border-right-color: #eee;

        .content-label, .placeholder {
            padding: 5px;
        }

        .placeholder {
            opacity: 1;
            color: #999;
            font-style: italic;
        }
    }

    .section-title {
        font-family: Itim;
        font-size: 25px;
        background-image: linear-gradient(to right, navy, #1084d0);
        color: white;
        padding: 2px 10px;
        flex-shrink: 0;
    }

    .menu {
        width: 300px;
        flex-direction: column;
        gap: 15px;

        overflow: scroll;
        flex-shrink: 0;

        section {
            flex-direction: column;
            gap: 5px;

            /* h2 {
                font-family: Itim;
                font-size: 25px;
                background-image: linear-gradient(to right, navy, #1084d0);
                color: white;
                padding: 2px 10px;
            }*/

            .tools {
                flex-wrap: wrap;
                gap: 5px;
                flex-shrink: 0;

                align-content: center;
                justify-content: center;

                .paint-button {
                    // aspect-ratio: 1;
                    // width: 78px;
                    // flex-basis: calc(25%);
                    flex-grow: 1;

                    Image {
                        image-rendering: trilinear;
                    }
                }
            }

            .button-pair {
                gap: 5px;

                .paint-button {
                    flex-grow: 1;
                }
            }

            .value-slider {
                gap: 5px;

                .paint-button {
                    flex-grow: 1;
                }
            }

        }
    }

    .sidebar {
        width: 150px;
        gap: 10px;
        flex-shrink: 0;

        flex-direction: column;

        overflow: scroll;

        .decals {
            flex-direction: column;
            gap: 5px;

            flex-shrink: 0;

            .decal {
                padding: 5px;
                background-color: #eee;
                flex-direction: column;

                cursor: pointer;

                align-items: center;

                flex-shrink: 0;

                &:hover {
                    background-color: #fff;
                }

                Image {
                    width: 100px;
                    height: 100px;
                    background-size: contain;
                    image-rendering: pixelated;
                }

                font-family: Itim;
                font-size: 25px;
            }
        }

        .images {
            flex-direction: column;
            gap: 5px;

            flex-shrink: 0;

            .image {
                padding: 5px;
                background-color: #eee;
                flex-direction: column;

                flex-shrink: 0;

                cursor: pointer;

                align-items: center;

                &:hover {
                    background-color: #fff;
                }

                Image {
                    width: 100px;
                    height: 100px;
                    background-size: contain;
                    image-rendering: pixelated;
                }

                font-family: Itim;
                font-size: 25px;
            }
        }
    }

    .canvas {

        // position: relative;

        .canvas-container {
            position: relative;
        }

        background-color: #aaa;
        padding: 50px;
        gap: 50px;
        flex-grow: 1;
        min-height: 670px;

        overflow: scroll;

        align-items: center;
        justify-content: center;

        .canvas-texture {
            flex-shrink: 0;
            width: 512px;
            height: 512px;
            image-rendering: pixelated;
            transition: width 0.2s, height 0.2s;
            box-shadow: 5px 5px 10px #777;
        }

        /*.canvas-rect {
            position: relative;
        }*/

        .grid {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            image-rendering: trilinear;
        }

        .preview-overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            image-rendering: pixelated;
        }

        .crosshair {
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid black;
            pointer-events: none;
            animation: crosshair 1s infinite;
            // mix-blend-mode: lighten;
        }
    }

    .palette {
        flex-wrap: wrap;
        gap: 2px;

        // overflow: scroll;
        // max-height: 200px;

        button {
            width: 30px;
            height: 30px;
            border: 2px solid;
            border-left-color: #777;
            border-top-color: #777;
            border-right-color: #ccc;
            border-bottom-color: #ccc;

            &:hover {
                border-color: black;
                sound-in: "sounds/ui/button_hover.sound";
            }

            &:active {
                border-color: white;
                sound-in: "sounds/ui/button_down.sound";
                sound-out: "sounds/ui/button_up.sound";
            }
        }
    }

    .toolbar {
        gap: 10px;
        flex-shrink: 0;
    }

    .current-colors {
        width: 110px;
        height: 110px;
        position: relative;
        flex-shrink: 0;

        background-color: #eee;
        border: 1px solid #aaa;

        .color-fg, .color-bg {
            width: 50px;
            height: 50px;
            border: 1px solid black;
        }

        .color-fg {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
        }

        .color-bg {
            position: absolute;
            top: 40px;
            left: 40px;
        }
    }

    .actions {
        min-width: 150px;
        flex-shrink: 0;
        flex-direction: column;
        gap: 5px;
    }

}

@keyframes crosshair {
    0% {
        border-color: black;
    }
    50% {
        border-color: rgba(0, 0, 0, 0.2);
    }
    100% {
        border-color: black;
    }
}