.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.durability-bar {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;

    .durability-bar-fill {
        height: 100%;
        background-color: rgba(59, 143, 227, 0.8);
        transition: width 0.2s ease;
        border-radius: 10px;
    }
    
    .durability-bar-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        
        text-stroke: 3px rgba(34, 94, 152, 0.8);
    }
}