@using System
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Clover

@if ( !ShowWatermark )
{
	return;
}

<root>
	<div class="watermark-container @( MainUi.Instance.ShouldShowUi ? "active" : "" )">
		<div class="name">clover meadows project - s&amp;box</div>
		<div class="date">@DateTime.Now.ToString( "MMMM dd, yyyy" )</div>
		@if ( ShowWatermarkLink )
		{
			<div class="link">thugbrax.itch.io/clover-meadows</div>
		}
	</div>
</root>


@code
{

	[ConVar( "clover_show_watermark_link", Saved = true )]
	public static bool ShowWatermarkLink { get; set; } = true;

	[ConVar( "clover_show_watermark", Saved = true )]
	public static bool ShowWatermark { get; set; } = true;

	protected override int BuildHash()
	{
		return HashCode.Combine( MainUi.Instance.ShouldShowUi, ShowWatermarkLink, ShowWatermark );
	}

}
