{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "world": "Collide",
    "blocker": "Unset",
    "noblocker": "Collide",
    "door": "Collide",
    "interactbox": "Trigger",
    "pellet": "Trigger",
    "terrain": "Collide",
    "nocollideplayer": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "blocker",
      "b": "noblocker",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "pellet",
      "r": "Ignore"
    },
    {
      "a": "pellet",
      "b": "terrain",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "pellet",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "pellet",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "noblocker",
      "r": "Trigger"
    },
    {
      "a": "noblocker",
      "b": "interactbox",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "nocollideplayer",
      "r": "Ignore"
    }
  ],
  "__guid": "a52fcf16-ffdb-4caf-b3c3-79b63098a5fc",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}