{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "View",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "Menu",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "UseTool",
      "KeyboardCode": "f",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "PickUp",
      "KeyboardCode": "g",
      "GamepadCode": "None",
      "GroupName": "Actions"
    },
    {
      "Name": "Inventory",
      "KeyboardCode": "tab",
      "GamepadCode": "None",
      "GroupName": "Actions"
    },
    {
      "Name": "DebugWindow",
      "KeyboardCode": "t",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "WheelUp",
      "KeyboardCode": "mwheelup",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "WheelDown",
      "KeyboardCode": "mwheeldown",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Move",
      "KeyboardCode": "mouse1",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "RotateClockwise",
      "KeyboardCode": "mwheelup",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "RotateCounterClockwise",
      "KeyboardCode": "mwheeldown",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "Snap",
      "KeyboardCode": "ctrl",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "CameraLeft",
      "KeyboardCode": "leftarrow",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "CameraRight",
      "KeyboardCode": "rightarrow",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "CameraAdjust",
      "KeyboardCode": "mouse3",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "ItemPlacerConfirm",
      "KeyboardCode": "mouse1",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "ItemPlacerCancel",
      "KeyboardCode": "mouse2",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "ItemPlacerHeight",
      "KeyboardCode": "shift",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "ItemPlacerPositionSnapDecrease",
      "KeyboardCode": "q",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "ItemPlacerPositionSnapIncrease",
      "KeyboardCode": "e",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "ItemPlacerRotationSnapDecrease",
      "KeyboardCode": "z",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "ItemPlacerRotationSnapIncrease",
      "KeyboardCode": "c",
      "GamepadCode": "None",
      "GroupName": "ItemPlacer"
    },
    {
      "Name": "CameraUp",
      "KeyboardCode": "uparrow",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "CameraDown",
      "KeyboardCode": "downarrow",
      "GamepadCode": "None",
      "GroupName": "Camera"
    },
    {
      "Name": "PaintUndo",
      "KeyboardCode": "ctrl\u002Bz",
      "GamepadCode": "None",
      "GroupName": "Paint"
    },
    {
      "Name": "PaintRedo",
      "KeyboardCode": "ctrl\u002By",
      "GamepadCode": "None",
      "GroupName": "Paint"
    },
    {
      "Name": "PaintEyedropper",
      "KeyboardCode": "i",
      "GamepadCode": "None",
      "GroupName": "Paint"
    },
    {
      "Name": "PaintPencil",
      "KeyboardCode": "b",
      "GamepadCode": "None",
      "GroupName": "Paint"
    },
    {
      "Name": "PaintPan",
      "KeyboardCode": "mouse3",
      "GamepadCode": "None",
      "GroupName": "Paint"
    },
    {
      "Name": "PlayNoteC",
      "KeyboardCode": "z",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteCSharp",
      "KeyboardCode": "s",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteD",
      "KeyboardCode": "x",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayOctave1",
      "KeyboardCode": "1",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayOctave2",
      "KeyboardCode": "2",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayOctave3",
      "KeyboardCode": "3",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayOctave4",
      "KeyboardCode": "4",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteDSharp",
      "KeyboardCode": "d",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteE",
      "KeyboardCode": "c",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteF",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteFSharp",
      "KeyboardCode": "g",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteG",
      "KeyboardCode": "b",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteGSharp",
      "KeyboardCode": "h",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteA",
      "KeyboardCode": "n",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteASharp",
      "KeyboardCode": "j",
      "GamepadCode": "None",
      "GroupName": "Music"
    },
    {
      "Name": "PlayNoteB",
      "KeyboardCode": "m",
      "GamepadCode": "None",
      "GroupName": "Music"
    }
  ],
  "__guid": "9f7c2a2e-cd32-4cb6-ba10-4ff9bc240629",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}