{
  "Version": 2,
  "Mixers": {
    "Guid": "ccb01e4b-8171-435d-8b2d-d710eb540997",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "e8c5b4a7-00a1-4284-8de5-a33d089d2a77",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "6141efb5-ed06-4235-8bf0-403afebd7421",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": [
          {
            "Guid": "d62cb436-417a-4672-92cd-a266cee56659",
            "Name": "WeatherOutside",
            "Volume": 0.3,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "495793ad-06eb-4f77-b4c1-2c8bd0590cb0",
            "Name": "WeatherInside",
            "Volume": 0.3,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [
              {
                "Amount": 0.85,
                "Enabled": true,
                "Mix": 1,
                "__type": "HighPassProcessor"
              }
            ],
            "Children": []
          },
          {
            "Guid": "fd82b2cc-5c90-44a6-8c55-4159de3715de",
            "Name": "Footsteps",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [],
            "Children": []
          }
        ]
      },
      {
        "Guid": "3cf13e79-0ba7-4a7c-a309-4c78da96b527",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "13424ef5-2ebf-4917-b70c-a47c52d43a67",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}