@using Clover.Data
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Clover.Ui

<root>
	@if ( Slot != null )
	{
		<img class="icon" src=@Slot.GetIcon()/>
		<div class="name">@Slot.GetName()</div>
		@if ( Slot.PersistentItem.ItemData is ToolData toolData )
		{
			<div class="durability-bar">
				<div class="durability-bar-fill"
				     style="width: @( $"{Slot.PersistentItem.GetSaveData<int>( "Durability" )}%" )">
					<div
						class="durability-bar-text">@( $"{Slot.PersistentItem.GetSaveData<int>( "Durability" )}" )</div>
				</div>
			</div>
		}
	}
</root>
